<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{81,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,47}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,47}}</string>
                <key>sourceSize</key>
                <string>{114,47}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,47}</string>
            </dict>
            <key>light leng.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{383,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,30}}</string>
                <key>sourceSize</key>
                <string>{383,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>others card act.png</string>
            <key>size</key>
            <string>{671,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2842986c21c060c6cee70ad669fe3522$</string>
            <key>textureFileName</key>
            <string>others card act.png</string>
        </dict>
    </dict>
</plist>
