<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>v4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>v5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>v6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>v7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>v8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>v9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VIP.png</string>
            <key>size</key>
            <string>{62,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93bcd67aa116392c77fa4a8f40a7687a$</string>
            <key>textureFileName</key>
            <string>VIP.png</string>
        </dict>
    </dict>
</plist>
