<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>airplane.png</string>
            <key>size</key>
            <string>{730,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00e10ec087bdf88dcc622fa8966adff4$</string>
            <key>textureFileName</key>
            <string>airplane.png</string>
        </dict>
    </dict>
</plist>
