<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,44},{66,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,37}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>count.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dishosting.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{212,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,82}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
            <key>do.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,37}</string>
            </dict>
            <key>doublex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{246,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,82}}</string>
                <key>sourceSize</key>
                <string>{246,82}</string>
            </dict>
            <key>grab.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,45},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>herit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,44},{97,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,37}}</string>
                <key>sourceSize</key>
                <string>{97,37}</string>
            </dict>
            <key>lightupx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,82}}</string>
                <key>sourceSize</key>
                <string>{246,82}</string>
            </dict>
            <key>linghtupx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,45},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,45},{99,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,37}}</string>
                <key>sourceSize</key>
                <string>{99,37}</string>
            </dict>
            <key>noRaise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,45},{99,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,37}}</string>
                <key>sourceSize</key>
                <string>{99,37}</string>
            </dict>
            <key>nograb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,44},{66,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,37}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>noherit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,39},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,2},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>redbton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,2},{167,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,82}}</string>
                <key>sourceSize</key>
                <string>{167,82}</string>
            </dict>
            <key>stargame.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{212,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,82}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
            <key>tipsdo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,41},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>tipsdouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{327,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,41}}</string>
                <key>sourceSize</key>
                <string>{327,41}</string>
            </dict>
            <key>tipspass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,2},{255,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,40}}</string>
                <key>sourceSize</key>
                <string>{255,40}</string>
            </dict>
            <key>yellowbton.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{167,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,82}}</string>
                <key>sourceSize</key>
                <string>{167,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butonandtips.png</string>
            <key>size</key>
            <string>{2037,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ab56f3643ed457d4d30e1a4f2c5ff59$</string>
            <key>textureFileName</key>
            <string>butonandtips.png</string>
        </dict>
    </dict>
</plist>
