<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chatbuton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,198},{137,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,62}}</string>
                <key>sourceSize</key>
                <string>{137,62}</string>
            </dict>
            <key>horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,266},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>hornbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,2},{323,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,27}}</string>
                <key>sourceSize</key>
                <string>{323,27}</string>
            </dict>
            <key>hostingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,288}}</string>
                <key>sourceSize</key>
                <string>{35,288}</string>
            </dict>
            <key>hostingbuton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,59},{89,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,102}}</string>
                <key>sourceSize</key>
                <string>{89,102}</string>
            </dict>
            <key>hostingmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,237},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>king.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,163},{127,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,99}}</string>
                <key>sourceSize</key>
                <string>{127,99}</string>
            </dict>
            <key>kingwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{303,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,272}}</string>
                <key>sourceSize</key>
                <string>{303,272}</string>
            </dict>
            <key>lightupmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,155},{78,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,41}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>man.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{215,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,262}}</string>
                <key>sourceSize</key>
                <string>{215,262}</string>
            </dict>
            <key>multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,128},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>multiplebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{477,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,261}}</string>
                <key>sourceSize</key>
                <string>{477,261}</string>
            </dict>
            <key>myidbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,31},{104,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,62}}</string>
                <key>sourceSize</key>
                <string>{104,62}</string>
            </dict>
            <key>otheridbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,59},{124,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,94}</string>
            </dict>
            <key>outbuton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,95},{101,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,68}}</string>
                <key>sourceSize</key>
                <string>{101,68}</string>
            </dict>
            <key>peoplewin.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{303,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,275}}</string>
                <key>sourceSize</key>
                <string>{303,275}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,59},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>superdoublemark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,196},{116,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,39}}</string>
                <key>sourceSize</key>
                <string>{116,39}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,265},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{156,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,262}}</string>
                <key>sourceSize</key>
                <string>{156,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{1889,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d2911084e7a0e17200deaf6b470827$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
